:root {
    --bg: #1a1a1a;
    --claro: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    outline: none;
}

/* BARRA DE NAVEGAÇÃO */
body {
    background: var(--bg);
    color: var(--claro);
    height: 100vh;
    width: 100vw;
}

.header {

    background: #141414;
    position: fixed;
    display: flex;
    z-index: 99;
    top: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 15px 60px 15px 60px;

    gap: 20%;
}

/* caixa descricao dev */
.caixa-infos-dav {
    display: flex;
    justify-items: center;
    align-items: center;
}

/* Logo dev */
#icon-logo {
    margin-right: 16px;
    border-radius: 50%;
    width: calc(23px + 1.5vw);
}

/* title Ryan.dev */
.des-autor {
    color: #e5e5e5;
    font-size: 14px;
}

/* descript Última atualização: 13/03/2026 ás 23h15 */
.des-status {
    color: #a3a3a3;
    font-size: 11px;
}

/* botão escondido no desktop */
.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

#icons-navegacao {
    display: none;
}

/* Caixa dos link */
.box-navegacao {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* botao de navegacao */
.link-nav {
    padding: 5px 15px 5px 15px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    font-size: calc(10px + 0.3vw);
    color: #eeeeee;
    transition: 0.5s;
}

.info-cell {
    display: none;
}

.link-nav:hover {
    background: #F8CA95;
    color: #232323;
}