.home-pg {
    position: relative;
    width: 100%;
    padding-top: var(--header-height);
    background-image: url('/img/base/background-p.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-home-geral {
    height: calc(100vh - var(--header-height));
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 5vw;
}

.box-infos-home {
    width: 100%;
    max-width: 550px;
}

.p-sub-home {
    font-size: clamp(14px, 2vw, 18px);
}

.titulo-principal {
    font-size: clamp(35px, 2vw, 66px);
    font-weight: 800;
    color: var(--color-principal);
}

.p-descript-home {
    margin-top: 2px;
    margin-bottom: 13px;
    font-size: clamp(12px, 2vw, 16px);
}

.p-descript-home strong {
    font-size: clamp(12px, 2vw, 16px);
    color: var(--color-principal);
}

.box-link-mim:hover {
    background-position: right center;
}

.botao-sobre-mim {
    color: #212121;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 100%;
    max-width: 240px;
    padding: 13px 20px;
    background: linear-gradient(45deg, #ffc38b, #ff9634, #ffb26b);
    background-size: 300% 300%;
    border-radius: 8px;
    transition: 0.5s;
}

.box-avatar img {
    width: 100%;
    max-width: 700px;
    height: auto;
}

/* 
=========================================================
======================( SOBRE MIM )======================
=========================================================
*/
.sobre-mim-pg {
    position: relative;
    margin: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-jornada-mim {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.box-home-office img {
    width: 50vw;
    max-width: 300px;
    height: auto;
}

.box-info-hq {
    width: 100%;
    max-width: 550px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .box-info-hq {
        width: 100%;
        max-width: 300px;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .btn-ver-sobre-mim {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

.box-info-hq h2 {
    font-size: clamp(30px, 2vw, 50px);
    margin-bottom: 10px;
    color: #ffbb7c;
}

.box-info-hq p {
    font-size: clamp(10px, 2vw, 13px);
    color: #cfcfcf;
}

.btn-ver-sobre-mim {
    margin-top: 25px;
    display: flex;
    gap: 15px;
}

.box-bnt-service {
    width: 100%;
    background: linear-gradient(45deg, #ffc38b, #ffa856, #ffb26b);
    background-size: 300% 300%;
    color: #292929;
    text-align: center;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 7px;
    transition: 0.5s;
    cursor: pointer;
}

.box-bnt-service:hover {
    transition: 0.5s;
    transform: scale(1.04);
    background-position: right center;
}











.skil-boxsquad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
}

.box-skil {
    position: relative;
    width: 100%;
    max-width: 280px;
    border: 3px solid #1D1D1D;
    border-radius: 10px;
    padding: 20px;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}

.box-skil:hover {
    transition: 0.4s;
    transform: scale(1.06);
}

/* Luz lateral */
.box-skil .luz-border {
    position: absolute;
    left: -22px;
    top: 0;
    width: 33px;
    height: 100%;
    background: linear-gradient(180deg, #ffb86b, #ff8c42);
    border-radius: 5px;
    opacity: 0.9;
    filter: blur(1px);
}

.box-skil h3 {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 7px;
}

.box-skil p {
    font-size: 0.8em;
    color: #9d9d9d;
    justify-content: start;
    align-items: center;
}