.header {
    position: fixed;
    display: flex;
    width: 100%;
    height: var(--header-height);
    justify-content: space-around;
    align-items: center;
    /* background-color: #1e1e1e; */
    z-index: 1000;
}

.caixa-infos-dav {
    display: flex;
    align-items: center;
}

.caixa-infos-dav img {
    width: 40px;
    margin-right: 20px;
    border-radius: 50%;
}

.des-autor {
    font-size: 15px;
}

.des-status {
    font-size: 13px;
    color: #aeaeae;
}

/* ELEMENTOS DESABILIDADO PARA RESPONSIVE */
.info-cell {
    display: none;
}

.menu-btn {
    display: none;
}

#icons-navegacao {
    display: none;
}

.box-navegacao {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.link-nav {
    padding: 5px 15px;
    margin-right: 5px;
    border-radius: 7px;
    transition: 0.5s;
    
    font-size: 14px;
    font-weight: 500;
}

.link-nav:hover {
    transition: 0.5s;
    background: var(--color-principal);
    padding: 5px 15px;
    color: #1e1e1e;
}