:root {
    --bg: #fff;
    --header-height: 66px;
    --color-principal: #ffbb7c;
    --bg-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Inter, system-ui, sans-serif;
}

body {

    background: #101010;
    -webkit-font-smoothing: antialiased;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}


/* largura da barra */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* fundo da barra */
::-webkit-scrollbar-track {
    background: #1a1a1a;
}

/* parte que se move */
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #ffb669, #ffcb94);
    border-radius: 10px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #ffb669, #ffcb94);
}
