:root {
    --bg: #fff;
    --header-height: 70px;
    --color-principal: #f0ba97;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--header-height);
}

body {
    background: #242424;
}